<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Интернет магазин одежды</title>
    <link rel="stylesheet" th:href="@{/styles/login.css}">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="logo">Логотип</div>
            <div class="search">
                <input type="text" placeholder="Поиск" />
                <div>Найти</div>
            </div>
            <div class="header-right">
                <div class="icons">
                    <img th:src="@{/images/love.png}" />
                    <img th:src="@{/images/bag.png}" />
                </div>
                <div class="profile">
                    <img th:src="@{/images/login.png}" alt="">
                </div>
            </div>
        </div>
        <div class="nav-bar">
            <div class="categories">Все категории</div>
            <div class="nav-list">
                <a href="#" class="nav-item">Блузки</a>
                <a href="#" class="nav-item">Брюки</a>
                <a href="#" class="nav-item">Жакеты</a>
                <a href="#" class="nav-item">Пиджаки</a>
                <a href="#" class="nav-item">Платья</a>
                <a href="#" class="nav-item">Юбки</a>
            </div>
        </div>
        <div class="main">
            <div class="path">Путь к карточке</div>
            <div class="login_account">
                <form method="POST" th:action="@{/login}" id="loginForm">
                    <div class="login_data">
                        <div class="email">
                            <label for="login">Электронная почта: </label>
                            <input type="text" name="login"/><br/>
                        </div>
                        <div class="password">
                            <label for="password">Пароль: </label>
                            <input type="password" name="password"/><br/>
                        </div>
                    </div>
                    <div class="login_data">
                        <div class="login">
                            <input type="submit" value="Войти"/>
                        </div>
                        <div class="register">
                            <a th:href="@{/register}">Зарегистрироваться</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="footer-top">
                <div class="footer_info">
                    <div class="footer_logo">Логотип</div>
                    <div class="footer_text">Текст</div>
                </div>
                <div class="footer_links">
                    <div class="footer_links1">Ссылки1</div>
                    <div class="footer_links2">Ссылки2</div>
                    <div class="footer_links3">Ссылки3</div>
                    <div class="footer_contacts">Ссылки4</div>
                </div>
            </div>
            <div class="footer_copyright">Копирайт</div>
        </div>
    </div>
</body>
</html>